<div class="content">
  <%= erb "sections/_summary".to_sym %>
  <%= erb "sections/_my_story".to_sym %>
  <%= erb "sections/_the_right_background".to_sym %>
  <%= erb "sections/_impostor_syndrome".to_sym %>
  <%= erb "sections/_working_with_people".to_sym %>
  <%= erb "sections/_ways_to_specialize".to_sym %>
  <%= erb "sections/_all_the_opportunities".to_sym %>
  <%= erb "sections/_the_constant_challenges".to_sym %>
  <%= erb "sections/_on_fulfillment".to_sym %>
</div>